<!DOCTYPE html>
<html lang="it">
<head>
    <title>Susina time</title>
    <meta charset="UTF-8">

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />-->
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <form method="post" id="buttons-move" action="/">
        <div>
            <div></div>
            <button type="submit" name="command" value="avanti">
                <img src="/static/k_up.png">
            </button>
        </div>
        <div>
            <button type="submit" name="command" value="destra">
                <img src="/static/k_left.png">
            </button>
            <button type="submit" name="command" value="indietro">
                <img src="/static/k_down.png">
            </button>
            <button type="submit" name="command" value="avanti">
                <img src="/static/k_right.png">
            </button>
        </div>
    </div>
</body>
</html>